/* ==========================================================================
   Typography
   ========================================================================== */

/*
   Headings
   ========================================================================== */

/* latin-ext */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium Web Light'), local('TitilliumWeb-Light'), url(/assets/fonts/Titilium/TitilliumWeb_300_latin-ext.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium Web Light'), local('TitilliumWeb-Light'), url(/assets/fonts/Titilium/TitilliumWeb_300_latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: local('Titillium Web Regular'), local('TitilliumWeb-Regular'), url(/assets/fonts/Titilium/TitilliumWeb_400_latin-ext.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: local('Titillium Web Regular'), local('TitilliumWeb-Regular'), url(/assets/fonts/Titilium/TitilliumWeb_400_latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}



h1, h2, h3, h4, h5, h6 {
	font-family: $heading-font;
    font-weight: 300;
}
h1 {
	@include font-size(32);
}
h2 {
	@include font-size(28);
}
h3 {
	@include font-size(24);
}
h4 {
	@include font-size(18);
}
h5 {
	@include font-size(16);
}
h6 {
	@include font-size(14);
}

/*
   Links
   ========================================================================== */

a {
	/*text-decoration: none;*/
	color: $link-color;
	&.nounderline {
		text-decoration: none;
	}
	&:visited {
		color: $linkcolorvisited;
	}
	&:hover {
		color: $linkcolorhover;
	}
	&:focus {
		outline: thin dotted;
		color: $linkcolorfocus;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/*
   Figure captions
   ========================================================================== */

figcaption {
	padding-top: 10px;
	@include font(14);
	line-height: 1.3;
	color: lighten($text-color, 10);
}

/*
   Feature image captions
   ========================================================================== */

.image-credit {
	@include grid(12,10);
	@include prefix(12,1);
	@include suffix(12,1);
	display: block;
	text-align: right;
	@include font(12);
	line-height: 1.3;
	font-style: italic;
	color: lighten($text-color, 30);
	@media #{$small} {
		@include grid(12,9);
		@include prefix(12,0);
		@include suffix(12,0);
	}
	@media #{$x-large} {
		@include grid(12,8.5);
	}
	a {
		color: lighten($text-color, 30);
	}
}

/*
   Notices
   ========================================================================== */

.notice {
	margin-top: 1.5em;
	padding: .5em 1em;
	text-indent: 0;
	@include font-rem(14);
	background-color: $body-color;
	border: 1px solid darken($body-color,20);
	@include rounded(3px);
}

/*
   Blockquotes
   ========================================================================== */

blockquote {
	margin-left: -28px;
	padding-left: 20px;
	border-left: 8px solid $border-color;
	font-family: $alt-font;
	font-style: italic;
}

/*
   Footnotes
   ========================================================================== */

.footnotes {
	ol, li, p {
		margin-bottom: 0;
		@include font-rem(14);
	}
}

/*
   Paragraphs
   ========================================================================== */

p {
	// margin: 0 0 $indent-var;
	// sibling indentation
  @if $paragraph-indent == true {
    & + p {
			text-indent: $indent-var;
			margin-top: -($indent-var);
		}
	}
}

/*
   Code snippets
   ========================================================================== */

tt, code, kbd, samp, pre {
	font-family: $code-font;
}
p,
li {
	code {
		line-height: 1.5;
		white-space: nowrap;
		margin: 0 2px;
		padding: 0 5px;
		border: 1px solid lighten($black, 90);
		background-color: #efefef;
		@include rounded(3px);
	}
}
pre {
	line-height: 1.5;
	overflow-x: auto;
}

article {
	padding-bottom: 0.5em;
	
    h1 {
        line-height: 1.4;
    }
    
	h2 {
		padding-bottom: 2px;
	}
	
	li {
		margin: 0.5em;
	}
	
	p {
		    line-height: 1.4;
            margin-bottom: 0.5em;
	}
}
